In [1]:
import FirstCycling as FC
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests

In [2]:
fc = FC.FirstCycling()

In [9]:
fc.get_calendar(year=2021, month=3, cat='WT')

No race for this category in this month

In [5]:
teams =fc.get_teams(year=[2022,2021], cat=['WT','Junior','WWT'])

In [7]:
display(teams)

,team,country,bike,wt_wins,uci_wins,uci_ranking,gender,year,category,team_url,team_id
0,AG2R Citroën Team,France,BMC,0,0,10,M,2022,WT,https://firstcycling.com/team.php?l=21801,21801
1,Astana Qazaqstan Team,Kazakhstan,Wilier,0,1,18,M,2022,WT,https://firstcycling.com/team.php?l=21803,21803
2,Bahrain Victorious,Bahrain,Merida,0,3,9,M,2022,WT,https://firstcycling.com/team.php?l=21804,21804
3,BORA-hansgrohe,Germany,Specialized,0,5,8,M,2022,WT,https://firstcycling.com/team.php?l=22245,22245
4,Cofidis,France,De Rosa,0,4,12,M,2022,WT,https://firstcycling.com/team.php?l=22290,22290
...,...,...,...,...,...,...,...,...,...,...,...
905,Movistar Team,Spain,Canyon,7,22,2,W,2021,WWT,https://firstcycling.com/team.php?l=21875,21875
906,Team BikeExchange,Australia,Bianchi,2,7,10,W,2021,WWT,https://firstcycling.com/team.php?l=21874,21874
907,Team DSM,Germany,Scott,3,18,4,W,2021,WWT,https://firstcycling.com/team.php?l=21876,21876
908,Team SD Worx,Netherlands,Specialized,11,33,1,W,2021,WWT,https://firstcycling.com/team.php?l=22010,22010
909,Trek-Segafredo,USA,Trek,4,27,3,W,2021,WWT,https://firstcycling.com/team.php?l=21880,21880

In [27]:
team_url = "https://firstcycling.com/team.php?l=21804&riders=2"
soup = BeautifulSoup(requests.get(team_url).text,'lxml')
tables = soup.find_all('table', class_='sortTabell')
for table in tables:
    table_body = table.find('tbody')
    rows = table_body.find_all('tr')
    names = []
    age =[]
    nationalities=[]
    racedays =[]
    racekm=[]
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        names.append(cols[0])
        age.append(cols[2])
        nationalities.append(cols[3])
        racedays.append(cols[8])
        racekm.append(cols[9])
Riders = pd.DataFrame(list(zip(names, age, nationalities,racedays,racekm)),
               columns =['Name', 'Age', 'Nationality', 'Race Days', 'Race Km'])

display(Riders)

                      Name Age    Nationality Race Days Race Km
0         Arashiro, Yukiya  37          Japan         5     778
1            Bauhaus, Phil  27        Germany         5     799
2            Bilbao, Pello  32          Spain        17   2.627
3       Buitrago, Santiago  22       Colombia         5     831
4          Caruso, Damiano  34          Italy         9   1.423
5         Colbrelli, Sonny  31          Italy         3     558
6           Feng, Chun Kai  33         Taiwan
7            Gradek, Kamil  31         Poland         6   1.035
8               Haig, Jack  28      Australia        10   1.530
9       Haussler, Heinrich  38      Australia         6   1.003
10            Landa, Mikel  32          Spain         9   1.423
11         Maciejuk, Filip  22         Poland        12   1.891
12            Madan, Ahmed  21        Bahrain       361
13         Milan, Jonathan  21          Italy        12   1.891
14          Mohoric, Matej  27       Slovenia         7   1.177
15             Mäder, Gino  25    Switzerland        11   1.583
16            Novak, Domen  26       Slovenia        10   1.530
17       Osorio, Alejandro  23       Colombia         7   1.060
18    Pernsteiner, Hermann  31        Austria         8   1.244
19             Poels, Wout  34    Netherlands        10   1.530
20  Price-Pejtersen, Johan  22        Denmark         7   1.060
21      Sánchez, Luis León  38          Spain        11   1.700
22        Sütterlin, Jasha  29        Germany         9   1.436
23            Teuns, Dylan  30        Belgium         5     778
24            Tratnik, Jan  32       Slovenia        10   1.567
25       Williams, Stephen  25  Great Britain         1     166
26            Wright, Fred  22  Great Britain        10   1.654
27      Zambanini, Edoardo  20          Italy         6   1.002

In [ ]:
for id in teams['team_id']:
    full_url = team_url